.PostContainer {
    margin-top: 4%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    font-family: "Roboto";
    font-size: 1.4rem;
    background: white;

    &:last-child {
        margin-bottom: 4%;
    }

    .Post {
        margin-bottom: 3%;

        .Post-header {
            display: flex;
            height: 60px;
            align-items: center;

            strong {
                font-weight: bold;
            }

            img {
                height: 35px;
                width: auto;
                border-radius: 50px;
                margin-right: 3%;
                margin-left: 2%;
            }
        }

        img {
            width: 100%;
        }

        .Post-footer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin-left: 2%;
            padding: 0;

            .socialmedia {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin: 0;
                height: 45px;

                img {
                    height: 25px;
                    width: auto;
                    margin-right: 12px;
                }
            }

            p {
                strong {
                    font-weight: bold;
                }
            }
        }

    }
}